{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <figure>
                        <img src="{{ profile.get_avatar }}" class="img-fluid rounded-0" alt="{{ profile }}">
                    </figure>
                </div>
                <div class="col-md-9">
                     <h5 class="card-title">
                        {{ profile }} 
                        {% if request.user == profile.user%}
                        <small>
                            <a href="{% url 'profile-update' %}">Chỉnh sửa</a>   
                        </small>
                        {% endif %}
                    </h5>
                    <div class="card-text">
                        <ul>
                            <li>Tên người dùng: {{ profile.user.username }}</li>
                            <li>Lần đăng nhập gần nhất: {{ profile.user.last_login }}</li>
                            {% if profile.birthday %}
                                <li>Tuổi: {{ profile.get_age }}</li>
                            {%else %}
                                <li>Tuổi: Bạn cần cập nhật ngày sinh để tính tuổi.</li>
                            {% endif %}
                            
                            <li>Tiểu sử: {{ profile.bio }}</li>
                        </ul>
                        {% if request.user != profile.user and request.user.is_authenticated %}
                            {% if request.user.profile in profile.followers.all %}
                                <button class="btn btn-sm btn-danger btn-following" data-slug="{{ profile.slug }}">
                                    Unsubscribe {{ profile }}
                                </button>
                            {% else %}
                               <button class="btn btn-sm btn-primary btn-following" data-slug="{{ profile.slug }}">
                                    Subscribe {{ profile }}
                                </button>
                           {% endif %}
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="card-title">
                        Đang theo dõi:
                    </h6>
                    <div class="card-text">
                     <div class="row">
                           {% for following in profile.following.all %}
                              <div class="col-md-2">
                               <a href="{{ following.get_absolute_url }}">
                                 <img src="{{ following.get_avatar }}" class="img-fluid rounded-1" alt="{{ following }}"/>
                               </a>
                              </div>
                          {% endfor %}
                     </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="card-title">
                        Người đang theo dõi:
                    </h6>
                    <div class="card-text">
                        <div class="row" id="followersBox">
                           {% for follower in profile.followers.all %}
                              <div class="col-md-2" id="user-slug-{{ follower.slug }}">
                               <a href="{{ follower.get_absolute_url }}">
                                 <img src="{{ follower.get_avatar }}" class="img-fluid rounded-1" alt="{{ follower }}"/>
                               </a>
                              </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    Các người dùng bạn có thể biết:
    <ul>
        <li> <a href='http://127.0.0.1:8000/user/nobita/'>Nobita</a> </li>
        <li> <a href='http://127.0.0.1:8000/user/conan/'>Conan</a> </li>
    </ul>
{% endblock %}

{% block script %}
    <script src="{% static 'custom/js/profile.js' %}"></script>
{% endblock %}