{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <figure>
                        <img src="{{ article.get_thumbnail }}" width="200" alt="{{ article.title }}">
                    </figure>
                </div>
                <div class="col-md-8">
                     <h5 class="card-title">
                        {{ article.title }}
                    </h5>
                    
                    <small class="card-subtitle">
                        {{article.author}} / {{ article.created_at }} /
                        {% if request.user == article.author %}
                            <a href="{% url 'article-update-view' article.slug %}">Chỉnh sửa</a> /
                            <a href="{% url 'article-delete-view' article.slug %}">Xóa</a>    
                        {% endif %}
                    </small>
                    <div class="card-text">
                        {{ article.full_description|safe }}
                    </div>
                    <hr/>
                    <strong>Tags</strong>: {% for tag in article.tags.all %} <a href="{% url 'article-list-by-tags' tag.slug %}">{{ tag }}</a>, {% endfor %}
                    <hr/>
                    {% if article.reason %}{{ article.reason }} / lúc: {{ article.updated_at }}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body">
            <h5 class="card-title">
                Bình luận
            </h5>
            {% include 'modules/forum/comments/comments_list.html' %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
<div class="card mb-2 border-0">
    <div class="card-body">
        <div class="card-title">
           Các bài viết liên quan
        </div>
        <div class="card-text">
            <ul class="similar-articles">
                {% for sim_article in similar_articles %}
                    <li><a href="{{ sim_article.get_absolute_url }}">{{ sim_article.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'custom/js/article_detail.js' %}"></script>
{% endblock %}